*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000;
    height: 100px;
    width: 100%;
    transition: .5s;
}
#menu{
    text-align: center;
    position: fixed;
    padding-top: 110px;
    top: 0;
    left: 0;
    background: rgb(252, 206, 206);
    height: 900px;
    width: 200px;
    transition: .5s;
}
.butoo{
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    background: rgb(182, 58, 126);
}
.butoo:active{
    background: rgb(197, 126, 159);

}